@import "../../../utils/colors.scss";

.elements {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.element {
  color: $white2;
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;

  &:hover {
    background-color: rgba($lighterDarkBlue, 0.8);

    .projects-name {
      color: $blue;
    }
    
    .experience-name {
      color: $green;
    }

    .education-name {
      color: $yellow;
    }

    .certifications-name {
      color: $pink;
    }
  }
}

.content-left {
  width: 30%;
  font-size: 0.9rem;

  .img {
    height: 5rem;
    width: 90%;
    border: 2px solid rgba($white3, 0.2);
    border-radius: 0.5rem;
  }
}

.content-right {
  width: 70%;

  .name-box {
    display: flex;
    align-items: end;
    gap: 0.5rem;
  }

  .projects-name,
  .experience-name,
  .education-name,
  .certifications-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $white;
    margin-right: 0.5rem;
  }

  .date {
    font-size: 0.9rem;
  }

  .place {
    margin-top: 0.25rem;
    color: $white2;
  }

  .description {
    margin-top: 0.5rem;
    color: $white3;
  }

  .techs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
  }


}

.projects-link,
.experience-link,
.education-link,
.certifications-link {
  color: $white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s;
}

.projects-link:hover {
  color: $blue;
}

.experience-link:hover {
  color: $green;
}

.education-link:hover {
  color: $yellow;
}

.certifications-link:hover {
  color: $pink;
}
