@import "./../../utils/colors.scss";

#main-box {
  color: $white;
  width: 35rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#title {
  font-size: 3rem;
}

#subtitle {
  color: $white2;
}

#img {
  width: 100%;
}

#text {
  color: $white2;
  text-align: justify;
  text-justify: inter-word;
}

#icons {
  display: flex;
  gap: 1rem;
}

.icon {
  color: $white3;
  transition: color 0.3s;

  &:hover {
    color: $white;
  }
}
