@import "../../utils/colors.scss";

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

#back {
  color: $white3;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  transition: 0.3s;

  &:hover {
    color: $white;
  }
}

.filters {
  margin-top: 2rem;
  color: $white;
  display: flex;
  gap: 4rem;

  .checkbox {
    color: $white3;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $white2;
    }

    input {
      display: none;
    }

    .checkbox-circle {
      color: black;
      width: 1rem;
      height: 1rem;
      border: 1px solid $white3;
      border-radius: 0.2rem;
      margin-right: 0.5rem;
      font-size: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.active {
      color: $white;

      &:hover {
        color: $white2;
      }

      .projects-circle {
        background-color: $blue;
        border-color: $blue;
      }

      .experience-circle {
        background-color: $green;
        border-color: $green;
      }

      .education-circle {
        background-color: $yellow;
        border-color: $yellow;
      }

      .certifications-circle {
        background-color: $pink;
        border-color: $pink;
      }
    }
  }
}

.table-box {
  width: 80rem;
}

.table {
  width: 100%;
  margin-top: 4rem;
  font-size: 0.9rem;
  border-spacing: 0;

  thead {
    color: $white;
    text-align: left;

    th {
      padding-bottom: 1rem;
    }

    .head-date {
      width: 15%;
    }

    .head-name {
      width: 20%;
    }

    .head-place {
      width: 30%;
    }

    .head-techs {
      width: 35%;
    }
  }

  tbody {
    td {
      border-top: 1px solid rgba($blue, 0.2);
      padding-top: 1rem;
      padding-bottom: 1rem;
      vertical-align: top;
    }

    .body-date {
      color: $white3;
    }

    .body-name {
      color: $white;

      a {
        color: $white;
      }
    }

    .body-place {
      color: $white3;

      a {
        color: $white3;
      }
    }

    .body-techs {
      display: flex;
      flex-wrap: wrap;
    }

    .body-link {
      transition: 0.3s;

      &:hover {
        &.projects-name {
          color: $blue;
        }

        &.experience-name {
          color: $green;
        }

        &.education-name {
          color: $yellow;
        }

        &.certifications-name {
          color: $pink;
        }
      }
    }
  }
}
