@import "../../utils/colors.scss";

#back {
  color: $white3;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  transition: 0.3s;

  &:hover {
    color: $white;
  }
}

.filters {
  margin-top: 2rem;
  color: $white;
  display: flex;
  justify-content: space-between;
}

.table-box {
  width: 80rem;
}

.table {
  width: 100%;
  margin-top: 4rem;
  font-size: 0.9rem;
  border-spacing: 0;

  thead {
    color: $white;
    text-align: left;

    th {
      padding-bottom: 1rem;
    }

    .head-date {
      width: 15%;
    }

    .head-name {
      width: 20%;
    }

    .head-place {
      width: 30%;
    }

    .head-techs {
      width: 35%;
    }
  }

  tbody {
    td {
      border-top: 1px solid rgba($blue, 0.2);
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .body-date {
      color: $white3;
    }

    .body-name {
      color: $white;

      a {
        color: $white;
      }
    }

    .body-place {
      color: $white3;

      a {
        color: $white3;
      }
    }

    .body-techs {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.body-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s;

  &:hover {
    &.projects-name {
      color: $blue;
    }

    &.experience-name {
      color: $green;
    }

    &.education-name {
      color: $yellow;
    }

    &.certifications-name {
      color: $pink;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;

  .checkbox-circle {
    width: 20px; /* Adjust the size of your circle */
    height: 20px; /* Adjust the size of your circle */
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #333; /* Adjust the color of your circle border */
    margin-right: 5px; /* Adjust the spacing between the circle and text */
  }

  &.active {
    .checkbox-circle {
      background-color: $white; /* Adjust the color when the checkbox is active */
      border-color: $white; /* Adjust the border color when the checkbox is active */
    }
  }

  input {
    display: none; /* Hide the actual checkbox */
  }
}
