@import "./components/colors/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkBlue;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: $white3;
  color: white;
}

::-moz-selection {
  background-color: $white3;
  color: white;
}
