@import "./utils/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $darkBlue;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}