* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: rgb(100, 120, 150);
	color: white;
}

::-moz-selection {
	background-color: rgb(100, 120, 150);
	color: white;
}

::-webkit-scrollbar {
	width: 0;
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
